BOT_TOKEN = "8616483680:AAHuZ6b4k0TlEiqGhQ46a6DPlNBmR5pgg4Q"
# Sudo Users
ADMINS = "5345471041"

# Database Channel ID
CHANNEL_DB = -1003721030211

# MongoDB 
DATABASE_URL = "mongodb+srv://novus:<db_password>@nvs.i204ejd.mongodb.net/?appName=nvs"
DATABASE_NAME = "fsub"

FORCE_SUB_1 = -1003570827691
FORCE_SUB_2 = -1003496635135
FORCE_SUB_3 = -1003108263690
